<!DOCTYPE html>
<html lang="en">

<head>
    {{template "header.html"}}
</head>

<body>
    {{if eq .Body "main"}} {{template "mainbody.html" .JS}}
    {{else if eq .Body "registry"}} {{template "registrybody.html" .JS}}
    {{else if eq .Body "admin"}} {{template "adminbody.html" .JS}}
    {{else if eq .Body "ideator"}} {{template "ideatorbody.html" .JS}}
    {{else if eq .Body "facilitator"}} {{template "facilitatorbody.html" .JS}}
    {{else if eq .Body "logistics"}} {{template "logisticsbody.html" .JS}}
    {{else if eq .Body "dashboard"}} {{template "dashboardbody.html" .JS}}
    {{end}}
    {{template "footer.html"}}
</body>

</html>
