body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    min-height: 100vh;
}
header {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    margin: 0;
    font-size: 2.5rem;
}
header p {
    font-size: 1rem;
    opacity: 0.8;
}
nav {
    background: #34495e;
    padding: 0.5rem;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s;
}
nav a:hover {
    color: #f1c40f;
}
.btn {
    display: inline-block;
    padding: 12px 30px;
    background: #27ae60;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: background 0.3s;
}
.btn:hover {
    background: #219150;
}
.trello-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}
.trello-card-container{
    background:#2c3e50; 
    text-align: center; 
    color:white
}
.trello-card {
    width: 300px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
.trello-card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.15);
}
.trello-card a {
    text-decoration: none;
    font-weight: 500;
    color: #2c3e50;
    font-size: 1.1rem;
}
.trello-card a:hover {
    color: #f39c12;
}
.signup {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 2.2rem;
    margin: 40px 0;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #2980b9;
    color: white;
}

tr:nth-child(even) {
    background-color: #ecf0f1;
}

tr:hover {
    background-color: #f1c40f;
    cursor: pointer;
}

@media (max-width: 768px) {
    table {
        width: 100%;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin-bottom: 10px;
    }
}
.footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: auto; /* Pushes footer to the bottom of the page */
}
.main-content{
    min-height: 100vh;
}
.accordion-button {
    font-size: 1.2rem;
    font-weight: bold;
}
    
.badge-pending {
    background-color: #ffc107;
    color: #000;
}
.badge-approved {
    background-color: #28a745;
    color: white;
}
.badge-rejected {
    background-color: #dc3545;
    color: white;
}